@import url(./reset.css);

:root {
  --clr-neutral-900: hsl(0, 0%, 9%);
  --clr-neutral-400: hsl(210, 1%, 64%);
  --clr-neutral-100: hsl(210, 20%, 94%);
  --clr-primary: hsl(12, 74%, 50%);
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: radial-gradient(ellipse at bottom, #555, #111);
}

main {
  border: 1px solid #aaa;
  display: grid;
  place-items: center;
  padding: 4rem;
  background-color: var(--clr-neutral-100);
}

.offset-card-grid {
  width: min(100% - 2rem, 70rem);
  counter-reset: offset-grid-card;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  background-color: var(--clr-neutral-100);


  .card {
    border: 1px solid var(--clr-neutral-400);
    border-bottom: 4px solid var(--clr-primary);
    padding: 1rem;
    aspect-ratio: 1 / 0.7;
    display: grid;
    grid-row: 2;
    text-decoration: none;
    position: relative;
    z-index: 1;
    transition: scale 300ms ease,
            color 300ms ease,
            font-size 300ms ease,
            background-color 300ms ease;

    &.--large {
      grid-row: 2 / span 2;
      aspect-ratio: 1 / 1;
    }

    &.--offset {
      grid-row: 1 / span 2;
    }

    &::before, &::after {
      content: '';
      position: absolute;
      inset: 0;
    }

    &::after {
      z-index: -2;
      background-color: var(--clr-neutral-100);
      transition: background-color 300ms ease;
    }

    &::before {
      content: '';
      pointer-events: none;
      position: absolute;
      inset: 0;
      opacity: 0;
      background-color: black;
      filter: blur(1.5em);
      transition: opacity 300ms ease,
                translate 300ms ease;
      z-index: -1;
    }

    .title {
      font-weight: normal;
      font-size: 2rem;
      font-weight: 600;
      line-height: 1;
      width: fit-content;
      margin-top: auto;
      color: var(--clr-neutral-900);
      padding-right: 2rem;
    }

    .card-number {
      color: var(--clr-primary);
      width: min-content;
      margin-left: auto;

      &::before {
        counter-increment: offset-grid-card;
        content: '/' counter(offset-grid-card)
      }
    }

    .arrow {
      position: absolute;
      opacity: 0;
      inset: auto 2rem 1rem auto;
      font-weight: bold;
      font-size: 1.5rem;
      transition: transform 500ms ease,
              opacity 300ms ease;
    }

    .image {
      position: absolute;
      right: 0;
      top: 50%;
      translate: 0% -50%;
      opacity: 0;
      width: 7rem;
      aspect-ratio: 1;
      object-fit: cover;
      z-index: -5;
      transition: all 300ms ease;
    }

    &:hover,
    &:focus {
      background: var(--clr-neutral-900);
      scale: 1.35;
      border: 0;
      z-index: 10;
      animation: shake 300ms 250ms forwards;
        
      .title {
        /* font-size: 1.5rem; */
        color: var(--clr-neutral-100);
      }
        
      .arrow {
        opacity: 1;
        color: var(--clr-primary);
        transform: translateX(1rem);
        transition: transform 500ms 550ms ease,
              opacity 300ms ease;
      }

      &:hover::before {
        opacity: .35;
        translate: -10% 30%;
      }

      &:hover::after {
        background: var(--clr-neutral-900);
      }

      .image {
        opacity: 1;
        transition: all 300ms 300ms ease;

        &:nth-of-type(1) {
          transform: translate(99%, -35%) rotate(10deg);
          transition-delay: 300ms;
        }
        &:nth-of-type(2) {
          transform: translate(88%, 78%) rotate(-10deg);
          transition-delay: 350ms;
        }
        &:nth-of-type(3) {
          left: 0;
          transform: translate(50%, 140%) rotate(6deg);
          transition-delay: 400ms;
        }
        &:nth-of-type(4) {
          left: 0;
          transform: translate(-99%, 78%) rotate(15deg);
          transition-delay: 450ms;
        }
        &:nth-of-type(5) {
          left: 0;
          transform: translate(-88%, -35%) rotate(-15deg);
          transition-delay: 500ms;
        }
      }
    }
  }
}

@keyframes shake {
  25% {
    rotate: 5deg;
  }
  50% {
    rotate: -5deg;
  }
  75% {
    rotate: 10deg;
  }
}
